<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>CRUD Teste Node</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css" >
</head>
<body>
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-lg-auto mb-3 menu-lateral-esquerda">
        <div class="card p-3">
          <div class="e-navlist e-navlist--active-bg">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Visão geral</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-crud-users" target="__blank">
                  <i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" target="__blank">
                  <i class="fa fa-fw fa-cog mr-1"></i><span>Configurações</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="e-tabs mb-3 px-3">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#">Usuários</a></li>
          </ul>
        </div>

        <div class="row flex-lg-nowrap">
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-body">
                <div class="card-title">
                  <h6 class="mr-2"><span>Usuários</span><small class="px-1">Seja um líder sábio</small></h6>
                </div>

                <div class="e-table">
                  <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="align-top">
                            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                              <input type="checkbox" class="custom-control-input" id="all-items">
                              <label class="custom-control-label" for="all-items"></label>
                            </div>
                          </th>
                          <th>Foto</th>
                          <th class="max-width">Nome</th>
                          <th class="sortable">Data</th>
                          <th></th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-middle">
                            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                              <input type="checkbox" class="custom-control-input" id="item-1">
                              <label class="custom-control-label" for="item-1"></label>
                            </div>
                          </td>
                          <td class="align-middle text-center">
                            <div class="bg-light d-inline-flex justify-content-center align-items-center align-top img-usuario-pequeno">
                              <i class="fa fa-fw fa-photo"></i>
                            </div>
                          </td>
                          <td class="text-nowrap align-middle">Adam Cotter</td>
                          <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                          <td class="text-center align-middle"><i class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"></i></td>
                          <td class="text-center align-middle">
                            <div class="btn-group align-top">
                              <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Editar</button>
                              <button class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-lg-3 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="text-center px-xl-3">
                  <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">Novo Usuário</button>
                </div>
                <hr class="my-3">
                <div class="e-navlist e-navlist--active-bold">
                  <ul class="nav">
                    <li class="nav-item active"><a href class="nav-link"><span>Todos</span>&nbsp;<small>/&nbsp;32</small></a></li>
                    <li class="nav-item"><a href class="nav-link"><span>Ativos</span>&nbsp;<small>/&nbsp;16</small></a></li>
                    <li class="nav-item"><a href class="nav-link"><span>Selecionados</span>&nbsp;<small>/&nbsp;0</small></a></li>
                  </ul>
                </div>
                <hr class="my-3">
                <div>
                  <div class="form-group">
                    <label>Data de - para:</label>
                    <div><input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly"></div>
                  </div>

                  <div class="form-group">
                    <label>Procurar por nome:</label>
                    <div><input class="form-control w-100" type="text" placeholder="Nome" value></div>
                  </div>
                </div>
                <hr class="my-3">
                <div>
                  <label>Status:</label>
                  <div class="px-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="user-status" id="users-status-disabled">
                      <label class="custom-control-label" for="users-status-disabled">Desativado</label>
                    </div>
                  </div>

                  <div class="px-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="user-status" id="users-status-active">
                      <label class="custom-control-label" for="users-status-active">Ativos</label>
                    </div>
                  </div>

                  <div class="px-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="user-status" id="users-status-any" checked>
                      <label class="custom-control-label" for="users-status-any">Todos</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Usuário</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="py-1">
                <form class="form" action="/usuario" method="POST" novalidate>
                  <div class="row">
                    <div class="col">

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Nome completo:</label>
                            <input class="form-control" type="text" name="nome" id="nome" placeholder="John Smith" value="John Smith">
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Nome de usuário:</label>
                            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="johnny.s" value="johnny.s">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="email" id="email" placeholder="user@example.com" value="teste90@uorak.com">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col mb-3">
                          <div class="form-group">
                            <label>Sobre</label>
                            <textarea class="form-control" name="sobre" id="sobre" rows="5" placeholder="My Bio">teste da My Bio</textarea>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-6 mb-3">
                      <div class="mb-2"><b>Alterar a senha</b></div>
                    <div class="row">

                    <div class="col">
                      <div class="form-group">
                        <label>Senha atual:</label>
                        <input class="form-control" type="password" name="senha_atual" id="senha_atual" placeholder="••••••" value="teste90">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Nova Senha:</label>
                        <input class="form-control" type="password" name="nova_senha" id="nova_senha" placeholder="••••••" value="teste90">
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group">
                        <label>Confirma Senha:</span></label>
                        <input class="form-control" type="password" name="confirma_nova_senha" id="confirma_nova_senha" placeholder="••••••" value="teste90"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                    <div class="mb-2"><b>Mantenha contato</b></div>

                    <div class="row">
                      <div class="col">
                        <label>Notificações por e-mail</label>
                        <div class="custom-controls-stacked px-2">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="postagem_blog" name="postagem_blog" checked>
                            <label class="custom-control-label" for="postagem_blog">Postagens no blog</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="boletim_noticias" name="boletim_noticias" checked>
                            <label class="custom-control-label" for="boletim_noticias">Boletim de Notícias</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ofertas_pessoais" name="ofertas_pessoais" checked>
                            <label class="custom-control-label" for="ofertas_pessoais">Ofertas Pessoais</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  </div>

                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button class="btn btn-primary" type="submit">Salvar Alterações</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>